# Analysis of Paleo-present Climate Data
***

## Background
Paleoclimatology is the study of the climate history of earth [1]. This science allows for a better understanding of the climate of Earth in the past and how it relates to present and future climates on the planet. Earths climate past cannot be found in modern records. Therefore, scientists must gather data preserved in nature over the millennia in paleological remains referred to as proxy records [1]. An example of a type of proxy data is when scientists drill into ice sheets and extract ice cores to analyze deposits trapped within the ice, such as pollen and gas [1]. This gives insights into the atmospheric and climatic conditions that existed when particular layers of the sheet formed. These studies have shown that the climate of Earth is always changing. Research revealed that there have been several ice ages as well as several periods of global warming [1]. An ice age is a period of colder global temperatures and recurring glacial expansion capable of lasting hundreds of millions of years [2]. Paleoclimatology has shown that other enviromental factors such as continental drift, greenhouses gases in the atmosphere, solar energy, and the variation in Earth’s orbit have all affected the climate of Earth over time. This type of science is vital to our understanding of climate on Earth. Models can be developed to help predict how increased carbon dioxide levels and other changes may impact the climate of Earth in years to come.

## Data Collection and Loading

In [1]:
# Import necessary libraries.
import pandas as pd

In [5]:
df = pd.read_excel('data/atmospheric_CO2.xls', sheet_name='2.  Vostok-TD-Dome C')

In [7]:
df

,Dome C (0-22 kyr BP),Unnamed: 1,Unnamed: 2,Unnamed: 3,Vostok (0-440 kyr BP),Unnamed: 5,Unnamed: 6,Taylor Dome (19-63 kyr BP),Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Dome C (611-800 kyr BP),Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Monnin et al. (2001),NaN,NaN,NaN,Petit et al. (1999),NaN,NaN,Indermühle et al. (2000),NaN,NaN,...,NaN,NaN,NaN,Lüthi et al. (sub),NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Pepin et al. (2001),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Raynaud et al. (2005),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,measured at:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Bern,NaN,NaN,NaN,LGGE in Grenoble,NaN,NaN,University of Bern,NaN,NaN,...,LGGE in Grenoble,NaN,NaN,University of Bern,NaN,NaN,NaN,LGGE in Grenoble,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,NaN,NaN,NaN,NaN,3340.39,428394,229.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,NaN,NaN,NaN,NaN,3343.39,433925,199,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,NaN,NaN,NaN,NaN,3346.51,437580,201.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,NaN,NaN,NaN,NaN,3346.56,437601,207.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,NaN,NaN,NaN,NaN,3349.51,438986,205.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Processing

## Data Analysis
### CO2 vs Temperature Anomaly Analysis

### Additional Feature Analysis

### Irish Context Analysis

## Data Export

## Temperature Anomaly Prediction

## Conclusion

## References
[1] *Paleoclimatology*, *National Geographic Society*, https://education.nationalgeographic.org/resource/paleoclimatology-RL/
[2] *Ice Age*, *HISTORY.COM EDITORS*, https://www.history.com/topics/pre-history/ice-age

***
# End